@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

main {
  width: 88%;
  margin: 0 auto;
}

section {
  margin: 100px 0;
}

.noto-serif {
  font-family: 'Noto', serif;
}

/* header section style */

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 6%;
}

header nav .logo {
  width: 100%;
  max-width: 135px;
}

header nav .nav-menu {
  list-style: none;
  display: flex;
  gap: 2em;
}

header nav .nav-menu .cart,
nav .mobile-cart {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #000000;
}

nav .mobile-cart {
  display: none;
}

header nav .nav-menu li a {
  text-decoration: none;
  color: #8987A1;
  font-size: 18px;
}

header nav .nav-menu li:first-child a {
  color: #252432;
  font-weight: 700;
}

header .banner {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 6%;
}

.banner-content {
  flex: 1 1 42%;
}

.banner-image {
  flex: 1 1 58%;
}

header .banner img {
  display: block;
  width: 100%;
}

.banner-content h1 span {
  font-family: 'Noto', serif;
  color: #E95A08;
  font-weight: 700;
}

.banner-content h1 {
  font-weight: 700;
  color: #000000;
  font-size: 4rem;
}

.banner-content p {
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.3;
  margin-top: 10px;
}


/* our plants section */

.our-plants .heading {
  text-align: center;
  font-size: 3.12rem;
  font-weight: 700;
}

.our-plants .heading span {
  color: #E95A08;
  font-family: 'Noto', serif;
}

.our-plants > p {
  margin: 0 auto;
  max-width: 620px;
  text-align: center;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.our-plants-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 2rem;
  margin-top: 50px;
}

.our-plants-container .flower-cart h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 18px 0 8px;
  color: #111111;
}

.our-plants-container .flower-cart h5 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #111111;
  margin-bottom: 12px;
}

.our-plants-container .flower-cart button {
  width: 100%;
  padding: 13px 0;
  border: none;
  background-color: #E95A08;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.our-plants-container .flower-cart img {
  width: 100%;
  display: block;
}

/* Flower & Plant lover */

.plant-lovers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  margin: 200px 0 100px;
}

.plant-lovers-content h3 {
  font-size: 3.12rem;
  font-weight: 700;
}

.plant-lovers-image {
  position: relative;
}

.plant-lovers-image .trust-badge {
  position: absolute;
  max-width: 280px;
  top: -120px;
  right: -100px;
  width: 100%;
}

.plant-lovers-image .flower-img-main {
  width: 100%;
  max-width: 540px;
}

.plant-lovers-content ul li {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.3;
  margin: 1.3rem 1rem;
  list-style-position: outside;
}

@media screen and (max-width:576px) {
  
  main {
    width: 90%;
  }

  section {
    margin: 40px 0;
  }

  header {
    height: auto;
  }

  header nav {
    padding: 20px 5%;
  }

  header nav .nav-menu {
    display: none;
  }

  nav .mobile-cart {
    display: flex;
    font-size: 14px;
  }

  header nav .logo {
    max-width: 64px;
  }

  header .banner {
    padding: 0;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .banner-content {
    padding: 0 5%;
  }

  .banner-content h1 {
    font-size: 1.5rem;
    line-height: 1.3;
  }

  .banner-image, .banner-content, header .banner {
    flex: 1;
  }

  .banner-content p {
    font-size: 14px;
    font-weight: 400;
  }

  /* our plant section */
  
  .our-plants .heading {
    font-size: 1.5rem;
  }

  .our-plants > p {
    font-size: 14px;
  }

  .our-plants-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
    margin-top: 30px;
  }

  /* flowers % plants lover */

  .plant-lovers-image .trust-badge {
    display: none;
  }

  .plant-lovers {
    grid-template-columns: 1fr;
    margin: 40px 0;
  }

  .plant-lovers-content h3 {
    font-size: 1.5rem;
  }

  .plant-lovers-content ul li {
    font-size: 14px;
  }
}